body{
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 25%)
}
#gameBoard{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#board{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
}
.tiles {
    position: relative;
    height: 80px;
    width: 80px;
}
.pieces {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index:0;
}
.transparent{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    opacity: 0.80;
    z-index:2;
}
.green {
    background-color: #769656;
}
.white {
    background-color: #EEEED2;
}
/* Promotion bar*/
#promotion{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 15px;
    overflow: hidden;
}
.w{
    background-color: rgb(112, 106, 106);
    visibility:hidden;
}
.b{
    background-color: rgb(112, 106, 106);
    visibility:hidden;
}
.promotionTiles {
    position: relative;
    height: 80px;
    width: 80px;
}